body {font-family: 'Merriweather', serif!important;
font-family: 'Montserrat', sans-serif!important;
font-family: 'Poppins', sans-serif!important;  }

header {background-color: #335c67;
    font-style: italic;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;}

.active{ font-weight: bolder;
color: #edf2f4 !important;
font-style: normal!important;}

 .navbar-nav{ margin-left: 500px;
 	width: 50%;}

 .nav-link{color:#a8dadc!important;
    font-size: 25px;
 	margin left: 800px;
 	margin-right: 80px;} 

.nav-link:hover{font-weight: bold;}

main{padding-top: 150px;
background-color: #edf2f4;}

section, h1{width: 50%;
	margin-right: auto;
	margin-left: auto;}

h5{font-style: italic !important;}

.input-group-text{background-color:#335c67!important;
font-weight: 600!important;}

#bottone {width: 100%;
 background-color:#e07a5f; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
  transition: all 0.5s;
    }

#bottone:hover{background-color:blue;
font-weight: bolder;}


#inputGroup-sizing-lg, #inputGroup-sizing-sm{border:none;
	background-color:#006E90; 
color: white;}

#backtogether{font-weight: 900;
    font-size: 30px;
color: #fff3b0;}

.doc{color:#fff3b0!important;
font-style: bold!important;
font-size: 20px!important; }


footer {background:url(../img/footer.png);
    background-position: bottom; 
    height: 180px;}

p.designed{padding-top: 15px;
    font-size: 15px;
    color: black;
font-style: italic;
font-weight: 600;}

#insta{color:#fff3b0!important;
padding-left: 10px;
font-style: bold!important;
font-size: 20px!important;}
